
body{
  font-family: 'Lucida';
  width:auto;
  background-repeat:no-repeat;
  background-size:cover;
}

.body {
  width:60%;
  padding-top:30px;
  text-align:center;
  padding-left:20%;
}

.four h1{
  text-align:center;
  font-size: 180px;
  margin-top:2%;
}

.title h1{
  text-align:center;
}
.content p{
  text-align:center;

}
a{
  text-decoration:none;
}
.four {
  padding-left:24%;
  content:url('404.png');
  height:30%;
  width:50%;
}


hr {
  margin-top:10px;
  background-color:#FF0000;
  display:block;
  height:10px;
  border:solid ;
  border-radius:4px;
  border-color: #E8290C;
}

.button {
  text-decoration:none;
  border-radius: 4px;
 background-color: #f4511e;
 border: none;
 color: #FFFFFF;
 text-align: center;
 font-size: 28px;
 padding: 10px;
 width: 80px;
 transition: all 0.5s;
 cursor: pointer;
 margin: 5px;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.animated2 {
  animation-duration: 5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}


 .button:hover{

  background-color:black;
  font-weight:bold;

}


@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

.ty {
  font-size: 20px;
  color:red;
}

.social {
  margin-top:40px;

}
.social ul li{
  display:inline;
  padding: 0 5;
}

.facebook{
  content:url('face.png');
  height: 64px;
  width:64px;
  opacity:0.8;

}

.facebook:hover{
  opacity:1;
  height: 70px;
  width:70px;
}

.twitter{
  content:url('twit.png');
  height:64px;
  width:64px;
  opacity:0.8;
}

.twitter:hover{
  height:70px;
  width:70px;
  opacity:1;
}

.linkedin{
  content:url('link.png');
  height:64px;
  width:64px;
  opacity:0.8;
}

.linkedin:hover{
  height:70px;
  width:70px;
  opacity:1;
}

.mail{
  content:url('google.png');
  height:64px;
  width:64px;
  opacity:0.8;
}

.mail:hover{
  height:70px;
  width:70px;
  opacity:1;
}

.youtube{
  content:url('yout.png');
  height:64px;
  width:64px;
  opacity:0.8;
}

.youtube:hover{
  height:70px;
  width:70px;
  opacity:1;
}
